*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	transition: all 0.1s ease-in;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html {
	height: 100%;
}
html, body {
	min-height: 100%;
}

body {
	box-sizing: border-box;
	font: 400 26px/1.3 'Tebuchet MC', Tebuchet, Arial, sans-serif;
	border: 25px solid #fff;
	background-color: #3B3F45;
	color: #f9f9f9;
}
h1 {
	font-size: 36px;
}
h4 {
	font-size: 24px;
	font-weight: 400;
}
.ba-header, .ba-footer {
	text-align: center;
	background: #4A4F56;
	padding: 20px 0;
	color: #EB7E7F;
}
.ba-container{
	margin: 0 auto;
	max-width: 800px;
	padding: 40px 20px;
}
.ba-shoping-list{
	list-style: none;
	padding: 0;
	margin: 0 0 40px;
}
.ba-shoping-list li{
	background: #7a7593;
	border: 0 solid #fff;
}

.ba-shoping-list li:nth-child(odd){
	background-color: #88839e;
}
.ba-shoping-list li:hover {
	background: #625e77;
	border-width: 4px 0;
}
.ba-shoping-list li:active{
	background: #eb7e7f;
}
.ba-shoping-list label {
	display: block;
	cursor: pointer;
	padding: 15px;
}
.ba-shoping-list [type="checkbox"] {
	width: 26px;
	height: 26px;
	vertical-align: middle;
	position: relative;
	top: -2px;
	cursor: pointer;
	margin-right: 10px;
}
/* Pseudo element instead of standard  */
.ba-shoping-list li:first-child [type="checkbox"]{
	display: none;
}
/* Pseudo element instead of standard  */
.ba-shoping-list .ba-description{
	font-size: 60%;
	color: #cdcbd6;
	vertical-align: middle;
}
.ba-shoping-list .ba-description:before{
	content: '(';
}
.ba-shoping-list .ba-description:after{
	content: ')';
}
.ba-shoping-list .ba-description:empty{
	display: none;
}
/* .ba-shoping-list [type="checkbox"]:checked{
	width: 16px;
	height: 16px;
} */
.ba-shoping-list [type="checkbox"]:checked + span{
	text-decoration: line-through;
	color: #a3a0b5;
}
/* Pseudo element instead of standard  */
.ba-pseudo-check:before{
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #fff;
	border-radius: 50%;
}
:checked + .ba-pseudo-check:before{
	background-color: #FFF;
	box-shadow: inset 0 0 0 6px #88819e;

}

/* Pseudo element instead of standard  */
